{
  "output_folder": "verified/",
  "log_level": "debug",
  "log_name": "verifier.log",
  "warmup_time": 120,
  "verification_timeout": 30,
  "verification_interval": 60,
  "base_api": "https://random.uchile.cl/beacon/2.0",
  "metrics_port": 9101,
  "collector_stop_timeout": 10,
  "metrics_port": 9101,
  "sources": {
    "radio": {
      "enabled": true,
      "url": "200.89.71.21",
      "port": "8000",
      "prefix": "00"
    },
    "twitter": {
      "enabled": true,
      "consumer_key": "xxx",
      "consumer_secret": "xxx",
      "tweet_interval": 10
    },
    "earthquake": {
      "enabled": true,
      "source_url": "http://sismologia.cl/links/ultimos_sismos.html",
      "fetch_interval": 8
    },
    "ethereum": {
      "enabled": true,
      "block_id_module": 2,
      "tokens": {
        "infura": "xxx",
        "etherscan": "xxx",
        "rivet": "xxx"
      },
      "threshold": 1
    }

  }
}